<%if bars%>
	<ul class="nav right nav-pills">
		<%bars.each do |key, value|%>
			<li role="presentation"><a href="<%=key%>"><%=value%></a></li>
			<!-- <div class="visible-xs"><br></div> -->
		<%end%>
	</ul>
<%end%>