<%if comments.length > 0%>

	<%comments.each do |comment|%>
		<div class="border">
			<p><b><%= link_to_user(user_by_id(comment.author_id))%></b> said:</p>

			<div class="row">

				<div class="col-md-10">
					<p><%=comment.text%></p>
				</div>

				<div class="col-md-2">
					<small><%=hint("#{comment.created_at}")%></p></small>
				</div>
			</div>
		</div>	
	<% end %>
<%else%>
	<h5><%= hint('Your comment will be the first')%></h5>
<%end%>