<%if comments.length > 0%>

	<%comments.each do |comment|%>

	<div class="panel panel-default">
	  <div class="panel-heading"><%= link_to_user(user_by_id(comment.author_id))%> said:</div>
	  <br>
	  <p class="content"><%=comment.text%></p>
	</div>	
	<% end %>
<%else%>
	<h5><%= hint('Your comment will be the first')%></h5>
<%end%>