<div id="emotions">
		<span class="emotion">&#128515;</span>
		<span class="emotion">&#128518;</span>
		<span class="emotion">&#128521;</span>
		<span class="emotion">&#128522;</span>
		<span class="emotion">&#128525;</span>
		<span class="emotion">&#128526;</span>
		<span class="emotion">&#128527;</span>
		<span class="emotion">&#128528;</span>
		<span class="emotion">&#128541;</span>
		<span class="emotion">&#128544;</span>
		<span class="emotion">&#128551;</span>
		<span class="emotion">&#128557;</span>
		<span class="emotion">&#128558;</span>
		<span class="emotion">&#128564;</span>
		<span class="emotion">&#128565;</span>
		<span class="emotion">&#128570;</span>

</div>