<div class="jumbotron">
  <h1 class="hamurz">The doodle bloG</h1>
  <p>It's a simple solution for those who wants to blog!</p><br>
  <p>Check some easy tips for a better experience:</p>
  <ul>
  	<li>Sign in or sign up to use all features</li>
  	<li>Use the search to find posts</li>
  	<li>Use toggles to collapse the post's text without openning it</li>
  </ul><br>

  <div class="panel news-panel">
    <div class="panel-heading">
      <h3 class="hamurz">what's new</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>Now you are able to use emoticons in posts' text!</li>
        <li>Cover on post is now implemented!</li>
        <li>User's avatars will be saved to dropbox now, not to hold heroku's space</li>
        <li>Newrelic-apm gem implemented to collect stats and to hold the app awake by punching it every 5 minutes</li>
      </ul>
    </div>
  </div>

  <%if user_signed_in?%>
  	<p><a class="btn btn-default btn-lg" href="<%=post_index_path%>" role="button">Get started</a></p>
  <%else%>
  	<p><a class="btn btn-default btn-lg" href="<%=new_user_session_path%>" role="button">Get started</a></p>
  <%end%>
</div>
  

