<div class="jumbotron">
  <h1>The Doodle Blog</h1>
  <p>It's a simple project for easy bloging</p>
  <p><a class="btn btn-default btn-lg" href="<%=post_index_path%>" role="button">Get started</a></p>
</div>