
<div class="list-group">

	<%= link_to "Edit your profile", edit_user_registration_path, class: "list-group-item" %>
	<%= link_to "Upload a avatar", new_avatar_path, class: "list-group-item" %>

</div>