<hr>

<% @posts.each do |post| %>
	<div class="row">
		<div class="col-xs-offset-1 col-xs-11">
			<h4><%= link_to "#{post.title}", post_path(post)%></h4>
			<b>Posted by:</b> <%= User.find(post.author_id).username %>
		</div>
	</div>
<hr>
<%end%>