
<% $followings.each do |following|%>
	<div class="col-xs-3">
		<%if following.avatar%>
			<%= link_to image_tag(following.avatar.image.url, class: 'img-thumbnail'), 
				user_path(following)%>
			<%=%>
		<%else%>
			<a href="<%=user_path(following)%>">
				<div class="border">
						<br><br><br><br>
						<center class="hint">Photo here</center>
						<br><br><br><br>
				</div>
			</a>
		<%end%>
		<b>Username: </b><%=link_to_user(following)%><br>
	</div>
<%end%>