
<% $followings.each do |following|%>
	<div class="col-xs-3">
		<%=render partial: "partials/avatar", locals: {resource: following}%>
		<b>Username: </b><%=link_to_user(following)%><br>
	</div>
<%end%>