
.right{
	float:right;
}

.border {
	border: 1px solid #e7e7e7;
	border-radius: 3px;
	padding: 1rem;
}

.content {
	padding-left: 1rem;
}



.wall-papper {
	background-image: url(/doodle.png);
}



/*Fonts*/
@font-face {
	font-family: Hamurz;
	src: url(/fonts/Hamurz.ttf);
}

.hamurz{
	font-family: Hamurz;
}

.main-color{
	color: #7f878e;
}
.hint {
	color: #bfbfbf;
}

.header-text{
	font-size: 2em;
}
/*END Fonts*/

/*Blocks*/

.logo {
    float: left;
    height: 50px;
    padding: 5px 5px;
    font-size: 18px;
    line-height: 20px;
}

.main-block {
	background-color: white;
	min-height: 750px;
}

.header-block{
	padding-left: 4rem;
	background-color: white;
	margin-bottom: 2em;
}
/*END Blocks*/

/*Media queries*/

@media (max-width: 767px) {
	.res_font{
		font-size: 1.1rem;
	} 
}
@media (min-width: 768px) and (max-width: 991px) { 
	.res_font{
		font-size: 1.2rem;
	} 
}
@media (min-width: 992px) and (max-width: 1199px) { 
	.res_font{
		font-size: 1.5rem;
	}
}
@media (min-width: 1200px) { 
	.res_font{
		font-size: 1.6rem;
	}
}

/*END Media queries*/

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
