
<% $followers.each do |follower|%>
	<div class="col-xs-3">
		<%=render partial: "partials/avatar", locals: {resource: follower, size: '380x400'}%>
		<center>
			<h3 class="content hamurz main-color"><b><%= follower.username.downcase %></b></h3>
		</center>
	</div>
<%end%>
